<div class="home-container">
  <div class="img-container">
    <img
      alt="banner"
      src="https://png2.cleanpng.com/sh/29ded2e016959da1eb647ffacabf3dec/L0KzQYm3V8EyN5dBgpH0aYP2gLBuTgNkeqZyReV5cnnxhH7qjB1xfaVqip9yY3Bxg37ohBltbV54h9h9d3H1dX7rhgZmdJD1Rd1qbnLkfn68gsQ3PpZqUKg9YkToRHA6UMY5PWI5TKMAM0G2RIO8Vsg1OWM6RuJ3Zx==/kisspng-scrum-sprint-computer-icons-agile-software-develop-kanban-5b466ee864b4e4.3068514415313425684125.png"
    />
  </div>
  <div class="title-container">
    <h1>kanban!</h1>
    <a class="cta" routerLink="kanban">Try it out!</a>
  </div>
</div>
