:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

@media (max-width: 1000px) {
    .home-container {
        flex-direction: column;
    }
}

.home-container {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

.home-container > * {
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
}

.img-container {
    justify-content: flex-end;
}

.title-container {
    justify-content: center;
    flex-direction: column;
}

a {
    background-color: orange;
    padding: 1rem;
    
    color: white;
    font-weight: bold;
    text-decoration: none;

    border: 1px solid orange;
    border-radius: 10px;
}

a:hover {
    background-color: white;
    
    color: orange;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 100px;
}

