<h1>Contact us!</h1>

<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>First Name:</label>
    <input
      #fName="ngModel"
      class="form-control"
      name="firstname"
      ngModel
      placeholder="First Name"
      required
      type="text"
    />
    <div
      *ngIf="!fName.valid && fName.touched; then fValid; else fInvalid"
    ></div>
    <ng-template #fValid
      ><p style="color: red">First Name invalid</p></ng-template
    >
    <ng-template #fInvalid><p style="visibility: hidden">valid</p></ng-template>
  </div>

  <div class="form-group">
    <label>Last Name:</label>
    <input
      #lName="ngModel"
      class="form-control"
      name="lastname"
      ngModel
      placeholder="Last Name"
      required
      type="text"
    />
    <div
      *ngIf="!lName.valid && lName.touched; then lValid; else lInvalid"
    ></div>
    <ng-template #lValid
      ><p style="color: red">Last Name invalid</p></ng-template
    >
    <ng-template #lInvalid><p style="visibility: hidden">valid</p></ng-template>
  </div>

  <div class="form-group col-span-2">
    <label>E-Mail:</label>
    <input
      #email="ngModel"
      class="form-control"
      email
      name="email"
      ngModel
      placeholder="E-Mail"
      required
      type="text"
    />
    <div
      *ngIf="!email.valid && email.touched; then eValid; else eInvalid"
    ></div>
    <ng-template #eValid><p style="color: red">E-Mail invalid</p></ng-template>
    <ng-template #eInvalid><p style="visibility: hidden">valid</p></ng-template>
  </div>

  <div class="form-group col-span-2">
    <label>Your message:</label>
    <textarea
      #message="ngModel"
      class="form-control"
      name="message"
      ngModel
      placeholder="..."
      required
    ></textarea>
    <div
      *ngIf="!message.valid && message.touched; then mValid; else mInvalid"
    ></div>
    <ng-template #mValid
      ><p style="color: red">Message can't be empty!</p></ng-template
    >
    <ng-template #mInvalid><p style="visibility: hidden">valid</p></ng-template>
  </div>

  <button [disabled]="!f.valid" class="col-span-2 submit-btn" type="submit">
    Send
  </button>
</form>

<p *ngIf="submitted" style="color: green">Submitted!</p>
