.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  background-color: white;
  overflow: hidden;

  border: 2px solid #2d2d2d;
  border-radius: 10px;
}

.dragged-card {
  position: absolute;
}

.card-text {
  width: 100%;
  padding: 0.5rem;
}

textarea {
  width: 100%;
  min-height: 3rem;

  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;

  resize: none;
  scrollbar-width: thin;

  transition: border 0.2s ease-in;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: aqua;
}

textarea::-webkit-scrollbar-thumb {
  background-color: orange;
}

textarea:focus {
  outline: none;
  border: 1px solid orange;
}

hr {
  width: 100%;
}

.toolbar {
  display: flex;

  height: 2rem;
  width: 100%;
}

.todo .toolbar {
  background: linear-gradient(45deg, red, orange);
}

.doing .toolbar {
  background: linear-gradient(45deg, orange, yellow);
}

.done .toolbar {
  background: linear-gradient(45deg, yellow, green);
}

.drag-area {
  flex: 8;
  height: 100%;
}

.drag-area:hover {
  cursor: grab;
}

.dragging:hover {
  cursor: grabbing;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  height: 100%;
}

.tools button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1rem;
  aspect-ratio: 1 / 1;
  background-color: white;

  border: 1px solid white;
  border-radius: 25%;
}

.todo .tools button {
  color: orange;
}

.todo .tools button:hover {
  background-color: orange;
}

.doing .tools button {
  color: yellow;
}

.doing .tools button:hover {
  background-color: yellow;
}

.done .tools button {
  color: green;
}

.done .tools button:hover {
  background-color: green;
}

.todo .tools button:hover,
.doing .tools button:hover,
.done .tools button:hover {
  color: white;

  cursor: pointer;

  transition: background-color 0.2s ease-in;
}
