<div #listRef class="list">
  <h3>{{ list.name }}</h3>
  <form (ngSubmit)="addCard()" class="add-form">
    <input
      [(ngModel)]="text"
      class="add-input form-control"
      name="text"
      placeholder="Enter card content..."
      type="text"
    />
    <button class="add-btn" type="submit">ADD</button>
  </form>
  <div class="card-container">
    <app-card
      (removeCard)="onCardRemove(index)"
      *ngFor="let cardText of list.cards; let index = index"
      [cardText]="cardText"
    ></app-card>
  </div>
</div>
